/**
* style.css
* 
* Application stylesheet.
*/

/* Margin on top of containers in the application */
.margin-top{
    margin-top: 1rem;
}

/* Flex column layout for a form container */
.form{
    display:flex; 
    flex-direction: column; 
    gap: 1rem;
}

/* Flex column layout for the individual label value pairs */
.form-element{
    display:flex; 
    flex-direction: column; 
    gap: 0.25rem;
}

/* Text style from the horizon theme for regular ui texts */
.text{
    font-family: var(--sapFontFamily);
    font-size: var(--sapFontSize);
    color: var(--sapTextColor);
}
